@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pinnacle Mobility Solution Pvt Ltd</h1>
    <p>
        <a href="https://ekamobility.com/"> EKA Mobility </a>.</p>
    <h3>EKA is revolutionising commercial electric mobility with more profitable, and safer new-energy vehicles for cities,
            businesses and gen-next entrepreneurs.</h3>
</div>
